:imap jk <Esc>
nmap <C-o> :action Back<CR>
" Use ctrl-[hjkl] to select the active split!
noremap <leader>h :wincmd h<CR>
noremap <leader>j :wincmd j<CR>
noremap <leader>k :wincmd k<CR>
noremap <leader>l :wincmd l<CR>
